.Button1:first-of-type {

    background: rgb(255, 155, 5);
    width: 100%;

}

body {
    background: rgba(251, 255, 16, 0);
    padding: 5%;
    width: 25%;
    font-size: x-large;
    color: rgba(255, 166, 0, 0.897);
    margin-left: 30%;

}
